<!DOCTYPE html>
<html lang="en">
<head>

        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <img src="/images/CC_logo_can.png" alt="Can Can Wonderland logo" class="mainLogo" />


    <!--///// I'm putting these here to make sure they are all the same size for now ////-->

    <img src="/images/blueRed.png" alt="Can Can Wonderland logo" />
    <img src="/images/redYellow.png" alt="Can Can Wonderland logo" />
    <img src="/images/yellowBlue.png" alt="Can Can Wonderland logo" />


</body>
</html>